@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAll</h1>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Empleado.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="tblEmpleado" class="table table-hover">
                <thead>
                    <tr>
                        <th>Editar</th>
                        <th>IdEmpleado</th>
                        <th>Numero Nomina</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Estado</th>
                        <th>Eliminar</th>
                    </tr>

                </thead>
                <tbody> </tbody>
            </table>
        </div>
    </div>
</div>